@using DotNetNotes.Models
@model IEnumerable<DotNetNotes.Models.Note>

<h2>All Notes</h2>
<div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="container">
      <div class="row">
        <div>
            <a asp-action="Create"  asp-controller="Note" class="btn btn-success">New Note</a>
        </div>
    </div>
  </div>
  <hr class="container">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                Order by:
                <a asp-action="" asp-controller="Note" class="btn btn-default">Title</a>
                <a href="?orderby=creation" class="btn btn-default">Creation Date</a>
                <a href="?orderby=due" class="btn btn-default">Due Date</a>
                <a href="?orderby=prio" class="btn btn-default">Priority</a>
            </div>
            <div class="col-sm-4" style="padding:10px;">
                <a class="btn btn-default showlink hider">Hide Finished</a>
                <a class="btn btn-default showlink change-style">Style dark</a>
            </div>
        </div>
    </div>
  <hr class="container">
    @foreach (var item in Model)
    {
        <div class="container">
        <div class="row">
        <div class="panel @if(item.Finished == true){ @Html.Raw("panel-primary is-finished") } else { @Html.Raw("panel-default")}">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-2">
                        Due: @item.DueDate &emsp; 
                    </div>
                    <div class="col-md-4">
                        <strong>@item.Title</strong> &emsp;
                    </div> 
                    <div class="col-md-4">
                        <repeat n="@item.Priority"></repeat>
                    </div>
                    <div class="col-md-2 text-right">
                        <button class="btn btn-default collapsed " data-toggle="collapse" data-target="#panelcontent-@item.Id"></button>
                        <a asp-action="Edit" aps-controller="Note" asp-route-id="@item.Id" class="btn btn-success">Edit</a>
                    </div>
                
                </div>
            </div>
            <div id="panelcontent-@item.Id" class="panel-body collapse">
                @item.Text <br /><br />
                &emsp;<a asp-action="Delete" asp-controller="Note" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </div>
        </div>
        </div>
        </div>
    }
  </div>
</div>
